html,
body {
  height: 100%;
}
body {
  background-color: gainsboro;
}
.modal {
  background-color: gray;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
form {
  max-height: 100vh;
  padding: 60px 2rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .modal {
        background-color: blue;
    }
}